.toast {
  position: fixed; 
  top: 0; 
  right: 3rem;

  background-color: slategray;
  border-radius: 0.5rem;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity .5s, top .5s;
  overflow: hidden;

  &--active {
    top: 2rem; 
    visibility: visible;
    opacity: 1;
  }

  &--success {   
    background-color: limegreen;
  }

  &--error {
    background-color: red;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      outline: none;
      height: 2.5rem;
      width: 2.5rem;
      border: none;
      font-size: 2.5rem;
      background-color: transparent;
      cursor: pointer;
      color: white;
    }
  }

  &__body {
    font-size: 1.8rem;
    margin: 0 4rem 2rem 4rem;
  }
}